{% extends "base.html" %}


{% block content %}

<div class="container mt-4">


<h1>
Welcome {{ teacher.full_name }}
</h1>


<p>
Employee Number:
{{ teacher.employee_number }}
</p>


<div class="row mt-4">


<div class="col-md-4">

<div class="card shadow p-3">

<h4>
My Classes
</h4>

<h2>
{{ total_classes }}
</h2>

</div>

</div>



<div class="col-md-4">

<div class="card shadow p-3">

<h4>
My Students
</h4>

<h2>
{{ total_students }}
</h2>

</div>

</div>



<div class="col-md-4">

<div class="card shadow p-3">

<h4>
Specialization
</h4>

<p>
{{ teacher.specialization|default:"Not Assigned" }}
</p>

</div>

</div>


</div>



<div class="card shadow mt-4 p-4">


<h3>
My Assigned Classes
</h3>


<table class="table">


<tr>

<th>
Class
</th>


<th>
Section
</th>


</tr>



{% for cls in assigned_classes %}


<tr>

<td>
{{ cls.name }}
</td>


<td>
{{ cls.section }}
</td>


</tr>


{% empty %}


<tr>

<td colspan="2">
No classes assigned
</td>

</tr>


{% endfor %}



</table>


</div>


</div>


{% endblock %}