{% extends "base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block page_title %}
Administrator Dashboard
{% endblock %}

{% block content %}

<div class="cards">

    <div class="card blue">
        <i class="fa-solid fa-user-graduate"></i>

        <h2>{{ students }}</h2>

        <p>Total Students</p>
    </div>

    <div class="card green">

        <i class="fa-solid fa-chalkboard-user"></i>

        <h2>{{ teachers }}</h2>

        <p>Total Teachers</p>

    </div>

    <div class="card orange">

        <i class="fa-solid fa-users-gear"></i>

        <h2>{{ workers }}</h2>

        <p>Total Workers</p>

    </div>

    <div class="card purple">

        <i class="fa-solid fa-school"></i>

        <h2>{{ classes }}</h2>

        <p>Total Classes</p>

    </div>

</div>

<div class="panel">

    <h2>Quick Management</h2>

    <div class="buttons">

        <a href="/students/" class="btn">Students</a>

        <a href="/teachers/" class="btn">Teachers</a>

        <a href="/workers/" class="btn">Workers</a>

        <a href="/classes/" class="btn">Classes</a>

        <a href="/subjects/" class="btn">Subjects</a>

        <a href="/fees/" class="btn">Fees</a>

        <a href="/exams/" class="btn">Exams</a>

    </div>

</div>

{% endblock %}