{% extends 'base.html' %}
{% block content %}

<div>
    <h1>Admin Dashboard</h1>
    <p>Welcome, {{ user.class.username }}</p>
        <h3>Sytsem Management</h3>
        <ul>
            <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
             <li><a href="{% url 'student_dashboard' %}">Student Dashboard</a></li>
             <li><a href="{% url 'teacher_dashboard' %}">Teacher Dashboard</a></li>
             <li><a href="{% url 'worker_dashboard' %}">Worker Dashboard</a></li>
            
        </ul>
</div>

{% endblock %}