<div class="col-md-2 sidebar">

    <div class="brand">
        <i class="bi bi-mortarboard-fill"></i>
        School MS
    </div>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_dashboard' %}">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_list' %}">
                <i class="bi bi-person-workspace"></i>
                Teachers
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-mortarboard"></i>
                Students
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-people"></i>
                Workers
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-building"></i>
                Classes
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-book"></i>
                Subjects
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-calendar-check"></i>
                Attendance
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-pencil-square"></i>
                Exams
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-cash-stack"></i>
                Fees
            </a>
        </li>

        <li class="nav-item mt-3">
            <a class="nav-link" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                Logout
            </a>
        </li>

    </ul>

</div>