{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="dashboard-header">

        <h2>💰 Fee Details</h2>

        <a href="{% url 'fee_list' %}" class="btn btn-secondary">
            Back
        </a>

    </div>


    <div class="card p-4">

        <table class="table">

            <tr>
                <th>Student</th>
                <td>
                    {{ fee.student.first_name }}
                    {{ fee.student.last_name }}
                </td>
            </tr>


            <tr>
                <th>Admission Number</th>
                <td>
                    {{ fee.student.admission_number }}
                </td>
            </tr>


            <tr>
                <th>Term</th>
                <td>{{ fee.term }}</td>
            </tr>


            <tr>
                <th>Year</th>
                <td>{{ fee.year }}</td>
            </tr>


            <tr>
                <th>Total Amount</th>
                <td>{{ fee.amount }}</td>
            </tr>


            <tr>
                <th>Amount Paid</th>
                <td>{{ fee.amount_paid }}</td>
            </tr>


            <tr>
                <th>Balance</th>
                <td>{{ fee.balance }}</td>
            </tr>


            <tr>
                <th>Status</th>
                <td>

                    {{ fee.status }}

                </td>
            </tr>


        </table>


        <a href="{% url 'edit_fee' fee.id %}"
           class="btn btn-warning">

            Edit Fee

        </a>
        <a href="{% url 'add_payment' fee.id %}"
   class="btn btn-success">

    💰 Make Payment

</a>



        <a href="{% url 'delete_fee' fee.id %}"
           class="btn btn-danger">

            Delete Fee

        </a>


    </div>


</div>

{% endblock %}