{% extends "base.html" %}


{% block content %}


<div class="container-fluid">


    <h2 class="mb-4">

        <i class="bi bi-speedometer2"></i>

        Admin Dashboard

    </h2>



    <!-- Statistics Cards -->

    <div class="row g-4">


        <div class="col-md-3">

            <div class="card bg-primary text-white text-center">

                <div class="card-body">


                    <h5>
                        Teachers
                    </h5>


                    <h1>
                        {{ teacher_count }}
                    </h1>


                    <a href="{% url 'teacher_list' %}"
                       class="btn btn-light">

                        View Teachers

                    </a>


                </div>

            </div>

        </div>





        <div class="col-md-3">

            <div class="card bg-success text-white text-center">

                <div class="card-body">


                    <h5>
                        Students
                    </h5>


                    <h1>
                        {{ student_count }}
                    </h1>


                    <a href="/students/"
                       class="btn btn-light">

                        View Students

                    </a>


                </div>

            </div>

        </div>





        <div class="col-md-3">

            <div class="card bg-warning text-dark text-center">

                <div class="card-body">


                    <h5>
                        Workers
                    </h5>


                    <h1>
                        {{ worker_count }}
                    </h1>


                </div>

            </div>

        </div>





        <div class="col-md-3">

            <div class="card bg-danger text-white text-center">

                <div class="card-body">


                    <h5>
                        Classes
                    </h5>


                    <h1>
                        {{ class_count }}
                    </h1>


                </div>

            </div>

        </div>


    </div>





    <!-- Charts -->

    <div class="row mt-5">



        <!-- Gender Chart -->


        <div class="col-md-6">


            <div class="card">


                <div class="card-header">

                    Student Gender Distribution

                </div>


                <div class="card-body">


                    <canvas id="genderChart"></canvas>


                </div>


            </div>


        </div>





        <!-- Class Chart -->


        <div class="col-md-6">


            <div class="card">


                <div class="card-header">

                    Students Per Class

                </div>


                <div class="card-body">


                    <canvas id="classChart"></canvas>


                </div>


            </div>


        </div>


    </div>







    <!-- Recent Activity -->


    <div class="card mt-5">


        <div class="card-header">


            Recent Activity


        </div>


        <div class="card-body">


            {% for activity in activities %}


                <p>

                    <i class="bi bi-check-circle text-success"></i>

                    {{ activity.message }}

                    <br>

                    <small class="text-muted">

                        {{ activity.created_at }}

                    </small>


                </p>


            {% empty %}


                <p>
                    No activity yet.
                </p>


            {% endfor %}



        </div>


    </div>




</div>





<!-- Chart.js -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script>


// Gender Chart


const genderChart = document.getElementById(
    "genderChart"
);



new Chart(
    genderChart,
    {

        type: "pie",

        data: {

            labels: {{ gender_labels|safe }},

            datasets: [

                {

                    label: "Students",

                    data: {{ gender_values|safe }}

                }

            ]

        }

    }

);






// Class Chart


const classChart = document.getElementById(
    "classChart"
);



new Chart(

    classChart,

    {

        type: "bar",

        data: {


            labels: {{ class_labels|safe }},


            datasets: [

                {

                    label: "Students",

                    data: {{ class_values|safe }}

                }

            ]

        }


    }

);



</script>



{% endblock %}