{% extends "base.html" %}

{% block content %}

<div class="container-fluid">


    <h2 class="mb-4">
        <i class="bi bi-speedometer2"></i>
        Admin Dashboard
    </h2>



    <!-- Statistics Cards -->

    <div class="row g-3 justify-content-center">


        <!-- Teachers -->

        <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">

            <div class="admin-card admin-teachers">

                <div class="text-center">

                    <h5>
                        👨‍🏫 Teachers
                    </h5>

                    <h1>
                        {{ teacher_count }}
                    </h1>

                    <a href="{% url 'teacher_list' %}"
                       class="btn btn-light btn-sm">

                        View

                    </a>

                </div>

            </div>

        </div>




        <!-- Students -->

        <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">

            <div class="admin-card admin-students">

                <div class="text-center">

                    <h5>
                        👨‍🎓 Students
                    </h5>


                    <h1>
                        {{ student_count }}
                    </h1>


                    <a href="/students/"
                       class="btn btn-light btn-sm">

                        View

                    </a>


                </div>


            </div>


        </div>





        <!-- Workers -->


        <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">


            <div class="admin-card admin-workers">


                <div class="text-center">


                    <h5>
                        👷 Workers
                    </h5>


                    <h1>
                        {{ worker_count }}
                    </h1>


                    <a href="{% url 'worker_list' %}"
                       class="btn btn-dark btn-sm">

                        View

                    </a>


                </div>


            </div>


        </div>





        <!-- Classes -->


        <div class="col-lg-3 col-md-3 col-sm-6 d-flex justify-content-center">


            <div class="admin-card admin-classes">


                <div class="text-center">


                    <h5>
                        🏫 Classes
                    </h5>


                    <h1>
                        {{ class_count }}
                    </h1>


                </div>


            </div>


        </div>


    </div>







    <!-- Charts -->


    <div class="row mt-5 g-4">


        <!-- Gender Chart -->


        <div class="col-lg-4">


            <div class="chart-card">


                <div class="chart-title">

                    👥 Student Gender Distribution

                </div>



                <div class="chart-box">


                    <canvas id="genderChart"></canvas>


                </div>


            </div>


        </div>






        <!-- Class Chart -->


        <div class="col-lg-8">


            <div class="chart-card">


                <div class="chart-title">

                    🏫 Students Per Class

                </div>



                <div class="chart-box">


                    <canvas id="classChart"></canvas>


                </div>


            </div>


        </div>


    </div>








    <!-- Recent Activity -->


    <div class="activity-card mt-5">


        <div class="activity-header">


            📌 Recent Activity


        </div>



        <div class="activity-body">


            {% for activity in activities %}


                <div class="mb-3">


                    <i class="bi bi-check-circle text-success"></i>


                    {{ activity.message }}


                    <br>


                    <small>

                        {{ activity.created_at }}

                    </small>


                </div>


            {% empty %}


                <p>
                    No activity available.
                </p>


            {% endfor %}



        </div>


    </div>



</div>







<!-- Chart JS -->


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script>


new Chart(

    document.getElementById("genderChart"),

    {


        type:"pie",


        data:{


            labels: {{ gender_labels|safe }},


            datasets:[

                {

                    data: {{ gender_values|safe }}

                }

            ]


        },


        options:{


            responsive:true,

            maintainAspectRatio:false


        }


    }

);






new Chart(

    document.getElementById("classChart"),

    {


        type:"bar",


        data:{


            labels: {{ class_labels|safe }},


            datasets:[

                {

                    label:"Students",

                    data: {{ class_values|safe }}

                }

            ]


        },


        options:{


            responsive:true,

            maintainAspectRatio:false


        }


    }

);



</script>



{% endblock %}